fint:
  relation:
    base-url: https://api.felleskomponent.no
  kafka:
    enable-ssl: false
  consumer:
    pod-url: http://localhost:8080
    base-url: ${fint.relation.base-url}
    domain: utdanning
    packageName: ${fint.consumer.package}
    org-id: fintlabs.no

novari:
  kafka:
    topic:
      org-id: fintlabs-no
      domain-context: fint-core
    application-id: fint-core-consumer
    default-replicas: 1

spring:
  kafka:
    consumer:
      group-id: fint-core-consumer
    bootstrap-servers: kafka:9092
logging:
  level:
    org.apache.kafka: OFF
    no.novari.kafka: OFF
    no.fintlabs.cache: DEBUG
