fint:
  security:
    opa:
      enabled: false
      url: http://localhost:8181
      env-header: true
  relation:
    base-url: https://api.felleskomponent.no
  kafka:
    topic:
      org-id: fintlabs-no
      domain-context: fint-core
    application-id: fint-core-consumer
    enable-ssl: false
    default-replicas: 1
  consumer:
    base-url: ${fint.relation.base-url}
    domain: utdanning
    package: vurdering
    packageName: ${fint.consumer.package}
    org-id: fintlabs.no

spring:
  kafka:
    consumer:
      group-id: fint-core-consumer
    bootstrap-servers: localhost:9092
logging:
  level:
    org.apache.kafka: OFF
    no.fintlabs.kafka: OFF
    no.fintlabs.cache: DEBUG
    no.fintlabs.resource.server: DEBUG
