fint:
  security:
    opa:
      enabled: false
    exposed-endpoints:
      - /actuator/prometheus
      - /actuator/health
  relation:
    base-url: https://api.felleskomponent.no
  kafka:
    topic:
      org-id: ${fint.org-id}
      domain-context: fint-core
    application-id: fint-core-consumer-${fint.consumer.domain}-${fint.consumer.package}-${fint.org-id}
  consumer:
    pod-url: http://fint-core-consumer-${fint.consumer.domain}-${fint.consumer.package}:8080
    base-url: ${fint.relation.base-url}
    domain: utdanning
    package: vurdering
    packageName: ${fint.consumer.package}
    org-id: ${fint.org-id}
    coreVersionHeader: 2

spring:
  kafka:
    consumer:
      group-id: ${fint.kafka.application-id}
  webflux:
    base-path: ${fint.consumer.domain}/${fint.consumer.package}
management:
  endpoints:
    web:
      exposure:
        include: prometheus,health

logging:
  level:
    org.apache.kafka: WARN
    org.apache.kafka.clients.NetworkClient: INFO
    org.apache.kafka.clients.consumer.internals.AbstractCoordinator: INFO
    org.apache.kafka.clients.consumer.internals.ConsumerCoordinator: INFO
    org.springframework.kafka.listener.KafkaMessageListenerContainer: INFO
    no.fintlabs.kafka: INFO
